.mainMenuBackground {
    -fx-background-image: url("../Images/MenuBackground.png");
    -fx-background-size: 100% 100%;
}

.mainMenuButtons {
    -fx-border-width: 3px;
    -fx-border-radius: 5px;
    -fx-background-color: transparent;
    -fx-font-size: 20px;
}

.mainMenuButtons:hover {
    -fx-border-color: white;
    -fx-font-size: 20px;
}

.menuControllerBackground {
    -fx-background-image: url("../Images/MenuBackground.png");
    -fx-background-size: 100% 100%;
}

.anchorAlmostTransparent {
    -fx-border-radius: 10px;
    -fx-border-color: white;
    -fx-border-width: 3px;
}

.archerImage {
    -fx-background-image: url("../Images/archerTransparent.png");
    -fx-background-size: 100% 100%;
}

.cavalryImage {
    -fx-background-image: url("../Images/cavalryTransparent.png");
    -fx-background-size: 100% 100%;
}

.commanderImage {
    -fx-background-image: url("../Images/commanderTransparent.png");
    -fx-background-size: 100% 100%;
}

.infatryImage {
    -fx-background-image: url("../Images/infantryTransparent.png");
    -fx-background-size: 100% 100%;
}

.orcImage {
    -fx-background-image: url("../Images/orcTransparent.png");
    -fx-background-size: 100% 100%;
}

.list-cell {
    -fx-background-color: #ffc18c;
    -fx-text-fill: black;
}

.buttons {
    -fx-background-color: #ffc18c;
}

.buttons:hover {
    -fx-border-color: brown;
    -fx-border-width: 2px;
    -fx-background-color: #e5ad7e;
}